@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --section-bg: #e7e7e7;
  --header-height: 64px;
  --post-card-width: 300px;
  --main-color: #b331b3;
}

@media only screen and (max-width: 600px){
  :root {
    --post-card-width: 100%;
  }
  .post-grid{
      grid-template-columns: repeat(1, var(--post-card-width));
  }
}

@media only screen and (min-width: 600px){
  :root {
    --post-card-width: 300px;
  }

  .post-grid{
      grid-template-columns: repeat(2, var(--post-card-width));
  }
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(to bottom, #151516, #1d1c1c);
    --foreground: #ededed;
    --section-bg: #1f1f24;
    --header-height: 64px;
    
    --main-color: #b331b3;
  }
}

*{
  scroll-behavior: smooth;
}

button, img{
  transition: 0.4s;
}

.accent-color{
  color: var(--main-color)
}

.border-main-color{
  border-color: var(--main-color)
}

.bg-main-color{
  background-color: var(--main-color)
}


body {
  color: var(--foreground);
  height: 100vh;
  background-image: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  
}

.page-config{
  height: calc(100%);
  overflow-y: scroll;
}

.page-config--header{
  height: calc(100% - var(--header-height));
}

.section-bg{
  background-color: var(--background);
}

.title{
  font-variant: all-petite-caps;
  font-size: 2.1em;
  font-weight: bold;
  text-align: center;
}

.subtitle{
  font-size: 1.8em;
  margin: 0.5em auto;
  margin-top: 30px;
  font-variant: all-petite-caps;
  font-weight: bold;
}


.categoria-item{
  background-color: #2b2831;
  border-radius: 8px;
}



.ad-banner#banner-billboard{
  min-width: 300px;
  max-width: 100%;

  
  min-height: 250px;
}

#site-description p{
  line-height: 22px;
}

